@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(0, 0%, 95%);
    font-size: 15px;
}

header{
    height: 80px;
    text-align: center;
    padding: 5px 20px;
} 

 main{
    margin-top: 60px;
}

a{
    text-decoration: none;
    color: black;
}

h1{
    color: hsl(0, 0%, 95%);
    padding-top: 20px;
    font-family: 'Big Shoulders Display';
    font-weight: 700;
}

p{
    color: hsla(0, 0%, 100%, 0.75);
    display: inline-block;
    padding-top: 27px;
    font-family: 'Lexend Deca';
    font-weight: 400;
}

button{
    background-color: hsl(0, 0%, 95%);
    border: none;
    padding: 8px 20px;
    margin-top: 60px;
    border-radius: 70px;
}

button:hover{
    cursor:pointer;
    background-color: transparent;
    border: 1px solid white;
}

.grid{
    font-size: 60px;
}

.grid:hover{
    color: rgb(25, 8, 134);
}

.flex{
    font-size: 60px;
}

.flex:hover{
    color: rgb(25, 8, 134);
}

.plus{
    font-size: 60px;
}

.click{
    color: orangered;
    font-size: 30px;
}

.cars{
    display: flex;
    width: 70%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.sed{
    color: hsl(31, 77%, 52%);
}

.sed:hover{
    color: white;
}
.suvs{
    color: hsl(184, 100%, 22%);
}

.suvs:hover{
    color: white;
}

.lux{
    color: hsl(179, 100%, 13%);
}

.lux:hover{
    color: white;
}

.sedan{
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.suv{
    background-color: hsl(184, 100%, 22%);
}

.luxury{
    background-color: hsl(179, 100%, 13%);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.sedan, .suv, .luxury{
    box-sizing: border-box;
    border: none;
    width: 260px;
     height: 400px; /*width and height here made the card stop moving when clicked on the button */
    align-items: center;
    padding: 30px 40px;
}


/* max-width is from that width downwards */
@media (max-width:375px) {
    .cars{
        display: flex;
        flex-direction: column; 
    }
}

@media (max-width:514px) {
    .cars{
        flex-direction: column;
    }
}
/* 514px and 520px are just testing */
@media (min-width:520px) {
    .cars{
        display: flex;
        width: 100%;
        font-size: 12px;
        flex-direction: row;
    }
    
}

/* min-width is from that width upwards */
@media (min-width:1140px) {
    .cars{
        display: flex;
        flex-direction: row;
        font-size: 15px;
    }
} 
